body {
    background-color: #e9e3e3;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #646464;
    text-align: center;
}

header {
    background-color: #bfb9b9;
    max-width: 84.5%;
    margin: auto;
    color: #777272;
    text-align: center;
    box-shadow: 10px 10px 5px #00000033;
    padding: 20px;
    border-radius: 6px;
}

h1 {
    display: block;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 78px;
    margin-top: 0;
    margin-bottom: 20px;
    text-shadow: 3px 5px 8px #5729295b;
    text-decoration: none;
}


button {
    font-family: 'Orbitron', sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 4px;
    color: #8a1b1b;
    border: 2px solid #777676;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #00000033;
    background-color: #acaaaa;
    margin: 2px auto;
    margin-bottom: 1px;

}

ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.userItem {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #00000033;
    width: 25%;
    height: 50%;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px #00000033;
}


li {
    list-style-type: none;
    padding-bottom: 5px;
}

.liName {
    font-weight: 700;
}

.ulMoreInfo {
    font-size: 14px;
    line-height: 14px;
    justify-content: start;
    padding: 5px;
    padding-bottom: 0;
    color: #8a1b1b;
    background-color: #acaaaa;
    border-radius: 4px;
    border: 2px solid #777676;
}

img {
    border-radius: 5px;
    margin-bottom: 5px;
}


@media (max-width: 550px) {
    header {
        background-color: aqua;
    }

    h1 {
        font-size: 54px;
    }

    ul {
        padding: 0;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .userItem {
        width: 95%;
        margin: 10px auto;
    }
}
  